<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sportdroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sportdroidbis"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sportdroidbis"
        android:supportsRtl="true"

        android:theme="@style/Theme.SportDroid">
        <activity
            android:name=".ajout_infos"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Accueil"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detail_block"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".infos"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ajout_entrainement"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".calendrier"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>